# /*

# !/common
# !/dummy
# !/gradle
# !/resources
# !/style

# !/.gitignore
# !/.travis.yml
# !/LICENSE.md
# !/LogisticsPipes_dummy.jar
# !/README.md
# !/BUILDING.md
# !/build.gradle
# !/buildmessages.pylist
# !/download-api.xml
# !/expect.tcl
# !/gradlew
# !/gradlew.bat
# !/build-ant.xml
# !/build-bc61.gradle
# mac os
.DS_Store

# forge / gradle
.gradle
build/*
out/
classes/
run/

# eclipse
*.launch
.settings
.classpath
.project
eclipse

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath

api/*
